.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(183, 16, 16);
}
.content {

  flex: 1 0 auto;
  padding: 2rem;
  width: 90%;
  margin: 0 auto;
}
footer {
  background: #EF476F;
  padding: 2rem;
}
