.navbarContainer {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  justify-content: space-between;
  height: 50px;
}
.titreNavBar{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}
.boutonNavBar{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}
